extends index

block main
        #banner.container
            .row
                .col-lg-12
                    div(class="fullscreen-bg")
                        video(loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video")
                            source(src="https://r10---sn-4g57knes.googlevideo.com/videoplayback?ipbits=0&sparams=clen,dur,ei,expire,gir,id,initcwndbps,ip,ipbits,itag,keepalive,lmt,mime,mm,mn,ms,mv,pl,requiressl,source,upn&keepalive=yes&requiressl=yes&itag=248&mime=video%2Fwebm&signature=7C51270A071C23D2E6758581E598BD6DB7ECB654.30371709FD8E18E5F9B2EC6026695F14C349FBC6&upn=-OuWDtUXzp8&ei=Z0MWWdfXBpCt8wS2hZhg&pl=16&gir=yes&expire=1494652871&clen=268000479&dur=821.880&id=o-ADI4kv1ZYMCdtoXoB3VjK4Iugod3pmZZEwdlREQUCZUb&source=youtube&key=cms1&ip=194.141.112.190&lmt=1458902872035187&ratebypass=yes&redirect_counter=1&cm2rm=sn-p5qry7l&req_id=8fec1ed70907a3ee&cms_redirect=yes&mm=34&mn=sn-4g57knes&ms=ltu&mt=1494631074&mv=u" type="video/webm")