extends index

block main
        #banner.container
            .row
                .col-lg-12
                    div(class="fullscreen-bg")
                        video(loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video")
                            source(src="https://r2---sn-x8vapo3-nv4l.googlevideo.com/videoplayback?beids=%5B9466593%5D&itag=248&upn=g28Xd8PjJAE&signature=491E26594D425EF2B5EA199A3D187425F5D5CE75.27D9B8F082E9C9F4AF4DD5CED4191190BA0AD3E0&mime=video%2Fwebm&gir=yes&clen=300201909&expire=1494626927&ei=Dt4VWav-NdWw8wTf5ZigBQ&pl=16&source=youtube&lmt=1450744065909467&key=cms1&ip=194.141.112.190&dur=944.080&id=o-ADy4orEe_ZZaVIB_qenJ-PtEkHREQIL6fzcQycUpEDQY&requiressl=yes&keepalive=yes&sparams=clen,dur,ei,expire,gir,id,initcwndbps,ip,ipbits,ipbypass,itag,keepalive,lmt,mime,mm,mn,ms,mv,pcm2cms,pl,requiressl,source,upn&ipbits=0&ratebypass=yes&redirect_counter=1&req_id=fe27992765f4a3ee&cms_redirect=yes&ipbypass=yes&mm=31&mn=sn-x8vapo3-nv4l&ms=au&mt=1494605303&mv=m&pcm2cms=yes" type="video/webm")